<div class="dashboard">
  <!-- Dashboard Content -->
  <div class="dashboard-content">
    <!-- Chart Items -->
    <div class="chart-item">
      <h4>The 10 Most Sold Products</h4>
      <canvas id="productChart"></canvas>
    </div>
    <div class="chart-item">
      <h4>Order Status Distribution</h4>
      <canvas id="statusChart"></canvas>
    </div>
    <div class="chart-item">
      <h4>Sales By Hour</h4>
      <canvas id="salesByHourChart"></canvas>
    </div>
    <div class="chart-item">
      <h4>Sales by Day of the Week</h4>
      <canvas id="salesByDayOfWeekChart"></canvas>
    </div>
    <div class="chart-item">
      <h4>Sales by Week</h4>
      <canvas id="salesByWeekChart"></canvas>
    </div>
    <div class="chart-item">
      <h4>Sales by Month</h4>
      <canvas id="salesByMonthChart"></canvas>
    </div>
  </div>
</div>
