<div class="dashboard">
  <div class="dashboard-content">
    <!-- Low Stock Threshold Input and Chart -->
    <div class="cancellation_reasons_chart">
      <h4>Cancellation Reasons</h4>
      <jhi-cancellation-reasons></jhi-cancellation-reasons>
    </div>

    <!-- Order Status Chart -->
    <div class="order_status_chart">
      <h4>Order Status Distribution</h4>
      <jhi-order-status></jhi-order-status>
    </div>

    <!-- Top 10 Most Sold Products Chart -->
    <div class="top10_most_sold_products">
      <h4>Top 10 Most Sold Products</h4>
      <jhi-top-products> </jhi-top-products>
    </div>

    <!-- Sales by Day of Week Chart -->
    <div class="sales_by_day_chart">
      <h4>Sales by Day of the Week</h4>
      <jhi-sales-by-day> </jhi-sales-by-day>
    </div>

    <!-- Weekly Sales Revenue Chart -->
    <div class="sales_by_week_chart">
      <h4>Weekly Sales Revenue</h4>
      <jhi-sales-by-week> </jhi-sales-by-week>
    </div>

    <!-- Sales by Month Chart -->
    <div class="sales_by_month_chart">
      <h4>Sales by Month</h4>
      <jhi-sales-by-month> </jhi-sales-by-month>
    </div>

    <!-- Sales by Hour and Sales by Payment Method Charts (Next to Each Other) -->
    <div class="sales_by_hour_chart">
      <div class="bottom-chart">
        <h4>Sales by Hour</h4>
        <jhi-sales-by-hour></jhi-sales-by-hour>
      </div>
    </div>

    <div class="payment_method_chart">
      <h4>Sales by Payment Method</h4>
      <jhi-payment-method></jhi-payment-method>
    </div>
  </div>
</div>
