<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-item-heading" data-cy="OrderItemCreateUpdateHeading" jhiTranslate="ssvrApp.orderItem.home.createOrEditLabel">
        Create or edit a Order Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="ssvrApp.orderItem.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.orderItem.quantityOrdered" for="field_quantityOrdered">Quantity Ordered</label>
          <input
            type="number"
            class="form-control"
            name="quantityOrdered"
            id="field_quantityOrdered"
            data-cy="quantityOrdered"
            formControlName="quantityOrdered"
          />
          <div
            *ngIf="
              editForm.get('quantityOrdered')!.invalid &&
              (editForm.get('quantityOrdered')!.dirty || editForm.get('quantityOrdered')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantityOrdered')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('quantityOrdered')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.orderItem.quantityCancelled" for="field_quantityCancelled"
            >Quantity Cancelled</label
          >
          <input
            type="number"
            class="form-control"
            name="quantityCancelled"
            id="field_quantityCancelled"
            data-cy="quantityCancelled"
            formControlName="quantityCancelled"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.orderItem.quantityInvoiced" for="field_quantityInvoiced">Quantity Invoiced</label>
          <input
            type="number"
            class="form-control"
            name="quantityInvoiced"
            id="field_quantityInvoiced"
            data-cy="quantityInvoiced"
            formControlName="quantityInvoiced"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.orderItem.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.orderItem.product" for="field_product">Product</label>
          <select
            class="form-control"
            id="field_product"
            data-cy="product"
            name="product"
            formControlName="product"
            [compareWith]="compareProduct"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="productOption" *ngFor="let productOption of productsSharedCollection">{{ productOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.orderItem.order" for="field_order">Order</label>
          <select class="form-control" id="field_order" data-cy="order" name="order" formControlName="order" [compareWith]="compareOrder">
            <option [ngValue]="null"></option>
            <option [ngValue]="orderOption" *ngFor="let orderOption of ordersSharedCollection">{{ orderOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
