<div>
  <h2 id="page-heading" data-cy="ProductCancellationsHeading">
    <span jhiTranslate="ssvrApp.productCancellations.home.title">Product Cancellations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ssvrApp.productCancellations.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-product-cancellations"
        [routerLink]="['/product-cancellations/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ssvrApp.productCancellations.home.createLabel"> Create a new Product Cancellations </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="productCancellations?.length === 0">
    <span jhiTranslate="ssvrApp.productCancellations.home.notFound">No Product Cancellations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="productCancellations && productCancellations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="ssvrApp.productCancellations.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reason">
            <div class="d-flex">
              <span jhiTranslate="ssvrApp.productCancellations.reason">Reason</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="orderItem.id">
            <div class="d-flex">
              <span jhiTranslate="ssvrApp.productCancellations.orderItem">Order Item</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="order.id">
            <div class="d-flex">
              <span jhiTranslate="ssvrApp.productCancellations.order">Order</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productCancellations of productCancellations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/product-cancellations', productCancellations.id, 'view']">{{ productCancellations.id }}</a>
          </td>
          <td>{{ productCancellations.reason }}</td>
          <td>
            <div *ngIf="productCancellations.orderItem">
              <a [routerLink]="['/order-item', productCancellations.orderItem.id, 'view']">{{ productCancellations.orderItem.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="productCancellations.order">
              <a [routerLink]="['/order', productCancellations.order.id, 'view']">{{ productCancellations.order.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product-cancellations', productCancellations.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/product-cancellations', productCancellations.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(productCancellations)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="productCancellations && productCancellations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
