<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-payment-heading" data-cy="PaymentCreateUpdateHeading" jhiTranslate="ssvrApp.payment.home.createOrEditLabel">
        Create or edit a Payment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="ssvrApp.payment.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.payment.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.payment.paymentMehodName" for="field_paymentMehodName">Payment Mehod Name</label>
          <input
            type="text"
            class="form-control"
            name="paymentMehodName"
            id="field_paymentMehodName"
            data-cy="paymentMehodName"
            formControlName="paymentMehodName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.payment.paymentMehodeCode" for="field_paymentMehodeCode"
            >Payment Mehode Code</label
          >
          <input
            type="text"
            class="form-control"
            name="paymentMehodeCode"
            id="field_paymentMehodeCode"
            data-cy="paymentMehodeCode"
            formControlName="paymentMehodeCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.payment.paymentDate" for="field_paymentDate">Payment Date</label>
          <div class="d-flex">
            <input
              id="field_paymentDate"
              data-cy="paymentDate"
              type="datetime-local"
              class="form-control"
              name="paymentDate"
              formControlName="paymentDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.payment.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ssvrApp.payment.payment" for="field_payment">Payment</label>
          <select
            class="form-control"
            id="field_payment"
            data-cy="payment"
            name="payment"
            formControlName="payment"
            [compareWith]="compareOrder"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="orderOption" *ngFor="let orderOption of ordersSharedCollection">{{ orderOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
